[submodule "chrome/devtools-themes/zerodarkmatrix"]
	path = chrome/devtools-themes/zerodarkmatrix
	url = https://github.com/theeternalsw0rd/chrome-devtools-zerodarkmatrix-theme
[submodule "scripts/zsh/powerlevel10k"]
	path = scripts/zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
