.DS_Store
nvim/lazy-lock.json
scripts/zsh/local.zsh
scripts/zsh/path.zsh
scripts/tmux/local.conf
vim/view
vim/view/
vim/view/*
yasb/notes.json
fastfetch/pngs/os-chan.png
.vscode/settings.json
*.log
.env