# Color scheme configuration for Terminator terminal emulator (http://www.tenshu.net/terminator/ and https://launchpad.net/terminator)
# 
# Copy the following lines within the [profiles] section of terminator configuration file at ~/.config/terminator/config

[[4bit-1383879307061]]
  use_theme_colors = False
  background_color = "#121416"
  foreground_color = "#0b95ff"
  palette = "#000000:#b22737:#2fb52c:#b2a82c:#2332ba:#a527ba:#23b5ad:#e6e6e6:#1c1c1c:#b22737:#2fb52c:#b2a82c:#2332ba:#a527ba:#23b5ad:#e6e6e6"
