# Color scheme configuration for Terminator terminal emulator (http://www.tenshu.net/terminator/ and https://launchpad.net/terminator)
# 
# Copy the following lines within the [profiles] section of terminator configuration file at ~/.config/terminator/config

[[4bit-1391284415941]]
  use_theme_colors = False
  background_color = "#090812"
  foreground_color = "#b5cdfa"
  palette = "#121212:#cd4a60:#60cd4a:#cdb74a:#4a60cd:#b74acd:#4acdb7:#bcbcbc:#4a4a4a:#da7889:#89da78:#daca78:#7889da:#ca78da:#78daca:#efefef"
